@model IEnumerable<ProgramacionWeb_ExamenFinal.Models.Contact>

@{
    ViewBag.Title = "Contactos";
    Layout = "~/Views/Shared/_Layout_navbar.cshtml";
}

<div class="mybody-content">

    <h2>Contactos</h2>

    <p>
        @Html.ActionLink("Crear Nuevo Contacto", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creationDate)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idContact }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idContact }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idContact })
                </td>
            </tr>
        }

    </table>

</div>
